<script type="text/javascript" charset="utf-8" src="js/BMWClient.js"></script>
<script>
  var user;
  {{#if user}}
    user = { access_token: '{{user.access_token}}' };
  {{/if}}

    var App, BMWClient, buildMap, config, bmw_client;

    BMWClient = this.BMWClient;

    config = {
      application: '29667c32-c8a3-43e2-a190-a8d9d8077c2e',
      redirect_uri: 'http://localhost:3000/callback',
      hostname: 'data.api.hackthedrive.com',
      version: 'v1',
      port: '80',
      scheme: 'http'
    };

    bmw_client = new BMWClient(config);
    fakeAccessToken();

  function fakeAccessToken(){
    if(user){
      console.log(user.access_token);
      document.location.hash = 'access_token='+user.access_token;
      bmw_client.token(function(err, result){
        if (!err){
          var Vehicle = bmw_client.model("Vehicle"); // Gets a Vehicle model schema.
          bmw_client.get(Vehicle, {}, function(error, result) {
            if (error) {
              console.log(error); // Some error occured.
            } else {
              var Vehicles = bmw_client.getResults(Vehicle, result);  // Helper function to get the results.
              var data = JSON.stringify({'vehicle': Vehicles, 'user': user.access_token.toString()});
              var request = new XMLHttpRequest();
              request.open('POST', '/vehicle', true);
              request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
              request.send(data);
            }
          });
        } else {
          console.log(err);
        }
      });
    }
  }

  function login(){
    bmw_client.authorize(config.redirect_uri);
  };

  function getVehicleList(bc, page, next){
    if (typeof page === 'function'){
      next = page;
      page = 0;
    }
    page = page || 0;
    var Vehicle = bc.model("Vehicle");
    bc.get(Vehicle, {
      limit: 10,
      offset: page*10
    }, function apiResponse(err, result){
      next && next(err, bc.getResults(Vehicle, result));
    });
  };

  function getVehicle(bc, vin, next){
    var Vehicle = bc.model("Vehicle");
    console.log(Vehicle);
    Vehicle.VIN = vin;
    bc.get(Vehicle, {}, function apiResponse(err, result){
      next && next(err, bc.getResults(Vehicle, result));
    });
  }

  function showVehicles(bc){
    var list = $(".vehicle-list")
    getVehicleList(bc, 0, function(err, vehicles){
      for(var i=0; i<vehicles.length; i++){
        console.log(vehicles[i]);
        list.append("<li>"+vehicles[i].VIN+"</li>");
      }
    });
  }

</script>

<h1 class="title_thing">Open Road</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">

      {{#if user}}
      <div>
        <form id="go-form"  action="/go" method="post">
          <input id="vehicle-input" type="hidden" name="Vehicle" value="null">
          <div class='slider_holder'>
            <div>
              <img class="image", id='compass_image', src="./images/compass.svg", height='75px'></img>
            </div>
            <input class="slidurr" type="range" name="adventure" id="adventure" value="500" min="0" max="1000">
          </div>
          <div class='slider_holder'>
            <div>
              <img class="image", id='clock_image', src="./images/clock.svg", height='75px'></img>
            </div>
            <input class="slidurr" type="range" name="time" id="time" value="500" min="0" max="1000">
          </div>
          <button id="go" type="submit">Show Me The Open Road</button>
        </form>
        <div class="bottom-nav">
        </div>
        <script type='text/javascript'>
          /* attach a submit handler to the form */
          $("#go-form").submit(function(event) {

            /* stop form from submitting normally */
            event.preventDefault();

            /* get some values from elements on the page: */
            var $form = $( this ),
            url = $form.attr( 'action' );

            /* Send the data using post */
            var posting = $.post( url, {
              time: $('#time').val(),
              money: $('#money').val(),
              adventure: $('#adventure').val()
              } );

            /* Alerts the results */
            posting.done(function( data ) {

            });
          });
        </script>
      </div>
      {{else}}
        <button class="btn btn-primary btn-lg" id="login" type="button" onClick="login()">Sign in to BMW</button>
      {{/if}}
    </div>
  </div>

</div>
