<script type="text/javascript" charset="utf-8" src="js/BMWClient.js"></script>
<script>
  var user;
  {{#if user}}
    user = { id: '{{user.id}}' };
  {{/if}}
  (function() {
    var App, BMWClient, buildMap, config, bmw_client;
    
    BMWClient = this.BMWClient;
    
    config = {
      application: '29667c32-c8a3-43e2-a190-a8d9d8077c2e',
      redirect_uri: 'http://localhost:3000/callback',
      hostname: 'data.api.hackthedrive.com',
      version: 'v1',
      port: '80',
      scheme: 'http'
    };
    
    bmw_client = new BMWClient(config);
    
    App = bmw_client.model('App');
    
    $(function() {
      if (config.application !== '29667c32-c8a3-43e2-a190-a8d9d8077c2e') {
        return;
      }
      if (config.redirect_uri !== 'http://localhost:3000/callback') {
        return;
      }
      bmw_client.token(function(error, result) {
        if (error && !user) {
          console.log("redirecting to login.");
          return bmw_client.authorize(config.redirect_uri);
        } else {
          console.log('has user');
          // getVehicle(bmw_client, "WBY1Z4C58EV273611", function(err, vehicle){
          //   console.log('vehicle returned', vehicle);
          //   $("#vehicle-input").attr("value", JSON.stringify(vehicle[0]));
          // });
        }
      });
      return;
    });
    
    
  }).call(this);
  
  function getVehicleList(bc, page, next){
    if (typeof page === 'function'){
      next = page;
      page = 0;
    }
    page = page || 0;
    var Vehicle = bc.model("Vehicle");
    bc.get(Vehicle, {
      limit: 10,
      offset: page*10
    }, function apiResponse(err, result){
      next && next(err, bc.getResults(Vehicle, result));
    });
  };
  
  function getVehicle(bc, vin, next){
    var Vehicle = bc.model("Vehicle");
    console.log(Vehicle);
    Vehicle.VIN = vin;
    bc.get(Vehicle, {}, function apiResponse(err, result){
      next && next(err, bc.getResults(Vehicle, result));
    });
  }
  
  function showVehicles(bc){
    var list = $(".vehicle-list")
    getVehicleList(bc, 0, function(err, vehicles){
      for(var i=0; i<vehicles.length; i++){
        console.log(vehicles[i]);
        list.append("<li>"+vehicles[i].VIN+"</li>");
      }
    });
  }
  
</script>

<div>
  {{#if user}}
  Logged in
  {{else}}
  Logged out
  {{/if}}
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <div>
        <form  method="get">
          <input id="vehicle-input" type="hidden" name="Vehicle" >
          <input type="range" name="time" id="time" value="3" min="0" max="10">
          <input type="range" name="money" id="money" value="1" min="0" max="4">
          <input type="range" name="adventure" id="adventure" value="5" min="0" max="10">
          <button id="go" type="submit" formmethod="post" formaction="/go">Show Me The Open Road</button>
        </form>
      </div>
    </div>
  </div>
  
</div>
